$font-stack: "PT Sans", "Helvetica Neue", helvetica, arial, sans-serif;

$white: #FFFFFF;
$pink: #FFC0CB;
$node-green: #97e41b;
$dark-gray: #4d5359;
$react-blue: #37c3e0;
$rails-red: #990000;
$swift-orange: #ffa924;

$navbar-height: 50px;