@import 'utils';

$intro-color: $dark-gray;
$backend-color: $rails-red;
$frontend-color: $react-blue;
$mobile-color: $swift-orange;
$outro-color: $white;
$logo-color: $dark-gray;

#home {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: $navbar-offset;
  padding: 0;

  header {
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  #header .logo {
    width: 100%;
    font-size: 280px;
    color: $logo-color;

    i:hover {
      color: $alizarin;
    }
  }

  #header h1 {

    margin-top: 0;

    span {
      display: block;
      color: $dark-gray;
      margin-bottom: 15px;
      font-size: 24px;
    }

    span.pizza {
      display: inline;
    }

    .name {
      text-transform: uppercase;
    }

    .location {
      font-size: 10px;
      color: #999;
      text-transform: uppercase;
    }

    .tagline {
      font-family: $font-stack-alt;
      font-weight: 200;

      span {
        display: inline;
      }

      .pizza {
        cursor: pointer;
      }
    }
  }

  section {
    position: relative;
    width: 100%;
    margin-top: 125px;

    h2 {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 50px;
      color: $dark-gray;
      font-family: $font-stack-alt;
      font-size: 24px;
    }
  }

  section {
    .row {
      margin-left: 20px;
      margin-right: 20px;
    }

    .thumbnail {
      background-color: $dark-gray;
      border: 0;
      padding: 0 0;

      p, h3 {
        color: white;
      }

      ul li {
        list-style-type: square;
      }

      ul li, p {
        font-family: $font-stack-alt;
        color: white;
      }
    }

    .card img {
      border: 0;
      display: block;
      height: 250px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  #contact-me {
    text-align: center;
    height: 50%;

    p {
      font-family: $font-stack-alt;
      width: 100%;
      font-size: 32px;
      font-weight: 200;
      margin-bottom: 40px;
    }
    
    a {
      border-radius: 30px;
      padding: 15px 60px;
      font-size: 18px;
      background-color: $alizarin;
      border: none;
      text-transform: uppercase;

      &:hover {
        background-color: $dark-gray;
      }
    }
  }

  footer {
    .social {
      width: 100%;
      text-align: center;

      a {
        font-size: 40px;
        display: inline-block;
        margin: 10px 20px;
        color: $light-gray;
        cursor: pointer;

        &:hover {
          color: $dark-gray;
        }
      }
    }

    p {
      width: 100%;
      font-size: 12px;
      text-align: center;
      font-weight: 700;
      color: $dark-gray;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 75px;
    }
  }

}
